Procedure Description Language (PDL) is a Pythonic syntax describing the procedure of task-oriented chatbots.
Given the description of a task, you shuold generate a corresponding PDL.

### main components of PDL
- meta information: `Name` and `Desc` are meta information about the PDL.
- useful slots: `SLOT`s define the information collected from user, usually helpful for API calling.
- actions
    - `API` and `ANSWER` nodes are available actions for the bot. APIs are useful functions and ANSWERs are responses to the user. And the `precondition` field defines the dependencies of the API/ANSWER nodes.
    - besides, there a special `ASKSLOT` action to collect slot value from user, if not provided yet.
- pdl: the final `PDL` string is a Pythonic language that defines the core logic of the procedure.


### sample PDL
```PDL
Name: Can Items be Shipped
Desc: Query whether items can be shipped based on the country and item information provided by the user

SLOTs:
  - name: Country
  - name: ItemList
  - name: SelectedItems

APIs:
  - name: ItemListQuery
    request: [Country]
    response: [ItemList]
  - name: ShippingCheck
    request: [Country, SelectedItems]
    response: [QueryStatus, ShippingInfo]
    precondition: [ItemListQuery]

ANSWERs:
  - name: ShippingCheckSuccess
    desc: Inform the user of the query results and remind them that the information is for reference only, with the final decision being subject to the destination customs clearance requirements.
    precondition: [ShippingCheck]
  - name: ShippingCheckFailure
    desc: Inform the user that the destination shipping restrictions could not be queried at the moment and suggest contacting local DHL for more information, reminding them that the information is for reference only, with the final decision being subject to the destination customs clearance requirements.
    precondition: [ShippingCheck]

PDL: |
  [Country] = ASKSLOT()
  [ItemList] = API_ItemListQuery([Country])
  [SelectedItems] = ASKSLOT()
  [QueryStatus, ShippingInfo] = API_ShippingCheck([Country, SelectedItems])
  if QueryStatus == 200:
      ANSWER_ShippingCheckSuccess()
  else:
      ANSWER_ShippingCheckFailure()
```

### task description
```json
{{ NL }}
```

### your output
