Given the description of a task flow done by a task-oriented chatbot, you shuold generate a corresponding python code that the bot should follow.

### task description
```json
{{ NL }}
```

### your output
