Given a pseudo code, please return the task flow it describes in natural language.
Here is the pseudo code:
```pseudo
{{ pseudo }}
```

please output in the following format:
```json
{
    "task_name": "name of the task,
    "task_description": "a brief description of the task, e.g. Query news based on the specific needs of the user",
    "task_detailed_description": "the detailed description of the task in steps, e.g. 1. Ask the user for their intent, either to check a balance or transfer money. 2. If the intent is 'CheckBalance': a. Ask for the type of account."
}
```
Now give your answer:
