Below is a json object describing the  task-specific schema of a task-oriented chatbot. The schema is a graph, wherein each node is associated with text that either describes a system or user action, and directed edges indicate the sequence of execution between nodes. The json object contains the following fields:
- **task**: task name
- **replies**: a dict object whose keys are nodes in the schema and values are texts describing chatbot responses or actions associated with the nodes.
- **graph**: a dict object that describes the directed edges in the schema, with each key-value pair representing the start and end points of an edge, respectively.

Given a schema object , please return the task flow it describes in pseudo code, note that you don't have to include the initial greeting action in your response.
Here is the schema:
```json
{{ schema }}
```

### sample pseudo code
```pseudo
// Start the task flow for party planning

party_ask_venue()
ask_name()
party_ask_day()
party_ask_starting_time()
party_ask_number_of_guests()
party_inform_food_drink_criteria()

// Check availability
if available:
    party_ask_confirm_booking()
    if query_success:
        party_booking_successful()
    else:
        party_booking_failed()
else:
    party_venue_not_available()

anything_else()
```

Now give your answer:
