## Task description
Given a list of entities and a query text, you should determine which entity in the list is most relevant to the query text.
Note it's possible that the entity is not in the list!

## Entity list
{{ eneity_list }}

## Query
{{ query }}

## Answer
Please output your answer in the following format:
```json
{
    "is_matched": "boolean, whether the query text matchs one of the entities",
    "matched_entity": "if matched, give the matched entity"
}
```
Here is your answer:
