Given a sample meta information about PDL (Procedure Description Language), you should generate {{ count }} more PDLs in different scenarios. 

### Sample PDL
```json
{{ pdl }}
```

### Your result
You should output a JSON list with each item in the format of sample PDL.