Procedure Description Language (PDL) is a Pythontic syntax describing the procedure of task-oriented chatbots.
The main logic of the chatbot is described in the `PROCEDURE` part of PDL. Where includs 3 special action types:
- `API`s are functions available for chatbot, it has specific request parameters and return response values. 
    If an API has the `precondition` field, it means that this API must be called after all the APIs in the `precondition` field has been called.
- `REQUEST`s are explicit information collection actions the chatbot need to collect from the user. 
    If the bot want to call an API with a certain parameter, he shuold first collect that information, e.g. by `REQUEST` action.
- `ANSWER`s are final responses to the user, meaning the end of the task.
    The `ref_text` field are just reference for generation, the bot can response with its own words. 

Here is a sample PDL:
```PDL
APIs:
-
    name: 可支持地点查询
    request: [新闻发生地]
    response: [是否支持]
-
    name: 新闻查询
    request: [新闻发生地, 新闻类型, 新闻时间]
    response: [新闻列表]
    precondition: [可支持地点查询]

REQUESTs:
-
    name: 询问新闻发生地
    key: [新闻发生地]
-
    name: 询问新闻类型
    key: [新闻类型]
    available_types: ["政治", "经济", "体育", "娱乐"]
    ref_text: 请问您想要看什么类型的新闻？例如政治、经济、体育、娱乐
-
    name: 询问新闻时间
    key: [新闻时间]

ANSWERs:
-
    name: 获取新闻成功
    desc: 查询成功，返回查询到的新闻列表
-
    name: 获取新闻失败
    desc: 查询失败，转为播报当日头条新闻
    ref_text: 对不起我找不到您所需要的新闻，下面为您播报今日头条新闻...

=== PROCEDURE ===
TaskFlowName: 新闻查询
TaskFlowDesc: 根据特定需求查询新闻

while not API_可支持地点查询([新闻发生地])
    [新闻发生地] = REQUEST_询问新闻发生地()
[新闻类型] = REQUEST_询问新闻类型()
[新闻时间] = REQUEST_询问新闻时间()
[查询到的新闻列表] = API_新闻查询([新闻发生地, 新闻类型, 新闻时间])
if 查询到的新闻列表 IS_SET:
    ANSWER_获取新闻成功()
else:
    ANSWER_获取新闻失败()
```

Below, given the demand of a task, you shuold generate the PDL for it.
Hers is the demand:
{{ demand }}

Please generate your PDL here, without any extra information.
