Please mock some data and write a `fastapi` backend for the following apis, NOTE to 
1. keep the function and parameter names! 
2. just use sync version of FastAPI, and you need to write the Request and Response models in the code! 
3. run the server with `uvicorn.run(app, host="0.0.0.0", port=8000)`.
4. also output the corresponding API infos in the following format:
```json
[
    {
        "name": "通过交易金额查询",
        "type": "POST",
        "endpoint": "/query_by_amount", 
        "request": ["amount"],
        "response": ["order_links"],
        "request_zh": ["交易金额"],
        "response_zh": ["订单编号超链"]
    }
]
```

Here are the natural language format APIs:
```PDL
{{PDL}}
```

Please give your answer below: