Please follow the following procedure described in the code. 
NOTE that: 
1. You should find out which step the user is in automatically, and then generate the proper response.
2. In the procedure described below, there are three action types: 
    - `API`s are available for you to call the backend API to get the information you need. You should provide the parameters needed for the API.
    - `REQUEST`s are the questions you need to ask the user to get more information.
    - `ANSWER`s are the responses you should return to the user.
3. The `ref_text` field in action are just reference for you to understand the meaning of the action. When you generate response to the user, you should generate your own sentences.

```
{{PDL}}
```


Please output your result in the following format:
```json
{
    "action": "The predicted action type, e.g. API_查询开票方式, ANSWER_结束回复2, REQUEST_白金卡开票类型澄清",
    "action_parameters": "The input parameters for the action, if needed. e.g. [订单编号], [会员卡ID]",
    "response": "The generated response, if needed. Please remember to always reply to the user with kind and patient words in Chinese."
}
```

Let's begin! 
Remember always keep kind and patient to the user. 

[Here is the conversation]
{{conversation}}