You are a scorer responsible for evaluating the performance of a assistant (bot) based on its interaction with users to complete specific task.

### Task Description
Here is the taskflow description:
```PDL
{{ PDL }}
```

### Conversation
Here is the conversation between the user and the assistant (with {{ num_turns }} turns):
{{ conversation }}

### Evaluation Criteria
Use the following criteria to score the assistant's performance on a scale of 1 to 5:
- 1: 未能遵循流程，且对话无法正确结束
- 2: 未能遵循流程，但是能够正常结束对话
- 3: 基本遵循流程，但是解决过程中存在可能导致响应用户过慢或执行出错的问题
- 4: 遵循流程，基本没有明显错误，但是在回复的灵活性、顺畅性还存在不足
- 5: 遵循流程，能够灵活处理用户询问，回复自然、顺畅

### Common Errors
- 流程
  - **流程未遵循**: 没有遵循PDL所定义的流程, 也包括选择了错误的API进行调用
  - **流程重复**: 重复某一流程, 乃至死循环
- API
  - **API参数错误**: 调用API的时候传入了不合法的参数
  - **API重复调用**: 用相同的参数重复调用同一API
- SLOT
  - **不必要的询问**: 对于用户已经提供的信息重复询问, "明知故问"
- ANSWER
  - **回复信息不明确**: 没有给用户提醒有意义的信息或引导
  - **自由回复正确**: 对于非流程中的问题, 给出了合理的回复 (这个不算错误, 但需要标注出来)
  - **自由回复错误**: 对于非流程中的问题, 给出了错误的 (不符合常识) 或虚构的回复 (也即"幻觉")


### Scoring Instructions
{# 注意在YAML输出的时候, 避免下面的输出导致解析失败!
`errors: 回复信息不明确: "用户询问的法规政策变化问题没有得到具体回答"`
---
            # List of error_type and error_reason. If donot have any, set to `null`. e.g., 
            # - error_type: API参数错误: 
            #   error_reason: 在当前轮的调用中传入了错误的参数
#}
Based on the evaluation criteria and task description provided, review the conversation history between assistant and user. 
1. Evaluate both the overall conversation and each user-bot turn. 
    NOTE that a turn is one user's query + one assistant's response, i.e, (USER-ith, BOT-ith) is a single turn! But donot consider the `START` utterance! 
2. Scoring: Assign a score between 1 to 5 that best reflects the assistant's performance, where 1 is the lowest and 5 is the highest. 
3. Errors: If the bot makes certain mistakes in one turn, list the type of error and your corresponding reason. If there is no error, set to `null`.
4. Format: Output your evaluation with **valid YAML format**, without any extra information. Below is two examples:
```yaml
detailed:
  turn-1:
    errors: null
    score: 5
  turn-2:
    errors: null
    score: 5
overall:
  score: 5
```
```yaml
detailed:
  turn-1:
    errors: 
      API参数错误: "在函数调用中传入了错误的参数\"xxx\""
      流程未遵循: "调用了错误的API"
    score: 2
  ...
overall:
  score: 3
```

### Your Output
