Give the procedure description JSON, you should extract and convert different types of nodes in the following format: 

```
"Nodes": [
    {
      "NodeID": "node-000",
      "NodeName": "查询开票方式",
      "NodeType": "API",
      "NodeData: xxx
    }, ...
]
```

where `NodeData` is the extracted information from the input JSON. For different type of nodes, this information is as follows:

```
API: 
- 
    name: 查询开票方式
    url: http://11.141.203.151:8089/get_invoicing_method
    method: GET
    request: [订单编号]
    response: [开票方式]

REQUEST:
-
    name: 白金卡开票类型澄清
    text: "您好，根据您的需求，您需要开发票。请问您需要哪种类型的发票呢？是电子普票、纸质普票还是纸质专票？"
    response: [发票类型]
    available_types: ["电子普票", "纸质普票", "纸质专票"]

ANSWER: 
-
    name: 结束回复1
    text: 您的同程开发票操作已成功执行，开票方式为酒店开具。
```

There are 3 type of nodes (besides the special `START` node):
- API, which describes the API call, including the request and response parameters; 
- REQUEST, where the bot asks a question and expects a response from the user;
- ANSWER, which is the end of a certain conversation, the bot will reply using reference texts. 

Let's BEGIN! Here is the input JSON:

```
{{input_json}}
```