Given a reference conversation and the current conversation, you need to simulate the user. 

Here is the reference conversation:
```
{{ref_conversation}}
```

Here is current new conversation:
```
{{new_conversation}}
```

Please output in the following format:
```json
{
    "role": "USER",
    "content": "The generated user utterance, in Chinese."
}
```
Here is your result: 