Procedure Description Language (PDL) is a syntax that describes the procedure of task-oriented chatbots.
Given several examples, please generate more meaningful, various and well-written PDLs.
Here are some examples:
```json
{{PDLs}}
```
Please give your answer below:
