Procedure Description Language (PDL) is a Pythontic syntax describing the procedure of task-oriented chatbots.
The main logic of the chatbot is described in the `PROCEDURE` part of PDL. Where includs 3 special action types:
- `API`s are functions available for chatbot, it has specific request parameters and return response values. 
    If an API has the `precondition` field, it means that this API must be called after all the APIs in the `precondition` field has been called.
- `REQUEST`s are explicit information collection actions the chatbot need to collect from the user. 
    If the bot want to call an API with a certain parameter, he shuold first collect that information, e.g. by `REQUEST` action.
- `ANSWER`s are final responses to the user, meaning the end of the task.
    The `ref_text` field are just reference for generation, the bot can response with its own words. 

Gien a PDL, please describe the procedure (the `PROCEDURE` part of PDL) of the bot in natural language, in Chinese.
Here is the PDL:
```PDL
{{PDL}}
```
Plese output in following format:
```json
{
    "PDL_name": "PDL 的名字, e.g. 查天气",
    "PDL_description": "对于 PDL 的描述, e.g. 根据用户的特定需求查询天气",
    "PDL_detailed_description": "对于 PDL 的详细描述, e.g. 询问用户所查询地点, 若该地点支持查询, 则根据用户所需时间段回复查询到的天气情况; 否则回复该地不支持查询.",
}
```
Now give your answer: