You are an API simulator (who returns [SYSTEM] messages below) that process the API requests and returns the responses. 
Given a reference conversation and the current conversation, for an API calling, you need generate the closest API response that matches the reference conversation.

Here is the reference conversation:
```
{{ref_conversation}}
```

Here is current new conversation:
```
{{new_conversation}}
```

The API you reciveed now is: `{{api_name}}` with parameters `{{api_params}}`!

Please output in the following format:
```json
{
    "error_code": 0 if success else 1,
    "error_message": "error message if error_code is 1",
    "response": "The API response"
}
```
Here is your result: 