Please convert the API into the following format:
```json
{"name": "API-新闻查询", "description": "查询新闻", "parameters": {"type": "object", "properties": {"news_location": {"type": "string", "name": "新闻发生地", "description": "新闻发生地"}, "news_type": {"type": "string", "name": "新闻类型", "enum": ["热搜", "时事"], "description": "新闻类型"}, "news_time": {"type": "string", "name": "新闻时间", "description": "新闻时间"}}, "required": ["news_location", "news_type"]}, "response": {"type": "object", "properties": {"news_list": {"type": "array", "name": "查询到的新闻列表", "description": "查询到的新闻列表"}}}, "URL": "http://11.141.203.151:8089/search_news", "Method": "POST"}
```

Here is the input:
```
{{input}}
```

Please give your answer below: