Give the procedure description JSON, you should convert the workflow into Procdure Description Language (PDL). The format of PDL is shown as follows:

```
APIs:    // external APIs that the bot can call
-
    name: 查询天气      // the name of this API
    request: [城市,日期]     // input parameters
    response: [天气情况]    // returned results

REQUESTs:    // request node to get the taget variable, bot can ask the use to provide the target variable if not provided yet
-
    name: 询问所查询城市
    response: [城市]    // the target variable of this request
    available_types: ["上海", "北京"]   // the available types for the user to choose
    ref_text: 请问您需要查询哪个城市的天气？   // the reference text for the bot. PLEASE keep concise and clear!!!

ANSWERs:   // the final answer nodes, define the final answer of the procedure
-
    name: 回复出行建议
    ref_text: 上海市今天天气晴朗，气温适宜，适合出行。  // the reference text for the bot. PLEASE keep concise and clear!!!

=== PROCEDURE ===
TaskFlowName: 出行建议
TaskFlowDesc: 根据天气情况给出出行建议

[城市] = REQUEST_询问所查询城市()
[日期] = REQUEST_询问所查询日期()
[天气情况] = API_查询天气([城市,日期])
if 天气情况 == "晴朗":
    ANSWER_回复出行建议()
elif 天气情况 == "雨天":
    ANSWER_回复室内活动建议()
else:
    ANSWER_默认回复()
```

Let's BEGIN! Here is the input JSON:

```
{{input_json}}
```

Please give the PDL of the workflow. NOTE that you should not output the comments in the sample PDL.